#jsch-cart {
    font-family: Tahoma, sans-serif;
    position: absolute;
    left:0;
    top:30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:100%;
    height: auto;
    background-color:#fff;
    color:silver;   
}

.jschCartClose {
    padding-top:10px;
    text-align:right;
}

.jschCartClose span {   
    padding-right:10px;
    cursor:pointer;
}

#jsch-cart-items {
    text-align:center;
}

#jsch-cart-items table {
    display: inline-block;
    margin-bottom:30px;
}


.jsch-hidden-cart {
    display:none;
}

.jsch-show-animate {
    animation-name: show;
    animation-duration: 0.5s;
    animation-delay: 0s;    
}

.jsch-hide-animate {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-delay: 0s;    
}

@keyframes show {
    0%   {opacity:0;}
    100% {opacity:1;}
  }  

@keyframes hide {
    0%   {opacity:1;}
    100% {opacity:0;}
  }


  .shop {
    text-align:center;
  }
